html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block
}

.image img {
    margin-left: -150px;
    width: 1610px;
    margin-top: -410px;

}

.image {
    overflow: hidden;

}

.main {
    height: 100%;
    background: rgb(238, 30, 30);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 30, 30, 1)), color-stop(45%, rgba(246, 123, 8, 1)), to(rgba(163, 44, 221, 1)));
    background: linear-gradient(180deg, rgba(238, 30, 30, 1) 0%, rgba(246, 123, 8, 1) 45%, rgba(163, 44, 221, 1) 100%)
}


.navbar-header {
    background-color: #000;
    width: 100%;
    padding: 20px 106px;
    position: fixed;

}

.navbar-header img {
    width: 11%;
    height: auto;
}

.navbar-content {
    float: right;
    word-spacing: 35px;
    font-size: 15px;
    margin-right: 15px;

}


.nav-item {
    display: inline;
    font-weight: 700;
    line-height: 2.5;

}

.nav-item .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    color: #1DB954;
}



.title h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
    color: #fff;
}

.title p {
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.main-get {
    text-align: center;
    margin-top: 30px;
}

.btn-get {
    text-decoration: none;
    background-color: #1DB954;
    padding: 13px 60px;
    display: inline-block;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2;
    color: #fff;
}



footer {
    height: 70%;
    padding: 20px 130px;
    background-color: #000;
}

.bottom {
    height: 50%;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 50px;

}

.bottom-logo img {
    width: 70%;
    height: auto;
}

.first {
    width: 16%;
}


.second {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 70%;
}

.third {
    width: 16%;
    margin-top: 30px;
}

.bottom-list-container {
    width: 23.33%;
    float: left;
    line-height: 3;
}


.bottom-list-title h3 {
    font-size: 14px;
    color: #7b7b7b;

}

.bottom-list-title {
    margin-left: 8px;
}

.bottom-list li {
    list-style: none;

}

.bottom-list a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.bottom-list a:hover {
    color: #1DB954;
}


.social-logo {
    display: inline-block;
}


.fa {
    padding: 7px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    -webkit-transform: scale(1.5);
    transform: scale(1.8);
    margin-right: 24px;
}

.fa-facebook {
    background: #242526;
    color: white;
}

.fa-twitter {
    background: #242526;
    color: white;
}

.fa-instagram {
    background: #242526;
    color: white;
}

.fa-facebook:hover {
    color: #1DB954;
}


.fa-instagram:hover {
    color: #1DB954;
}

.fa-twitter:hover {
    color: #1DB954;
}



.end {
    background-color: #000;
    color: #fff;
}

.ind img {
    position: absolute;
    width: 22px;
    height: auto;
}

.ind p {
    font-size: 12px;
}

.ind {
    margin-top: 100px;
}

.ind {
    float: right;
    color: #7b7b7b;
}

.footer-list li {
    list-style: none;
    text-decoration: none;
    display: inline;
    font-size: 13px;
    margin-right: 30px;
}

.footer-list {
    margin-top: 120px;
}

.footer-list a {
    color: #7b7b7b;
}

.footer-list a:hover {
    color: #1DB954;
}

.void {
    text-decoration: none;
}

.copyright {
    float: right;
    font-size: 13px;
    margin-top: -20px;
    margin-right: -20px;
    color: #7b7b7b;
}
